# Dossiers Scala/SBT
target/
project/target/
project/project/

# Fichiers JSON générés
*.json
processed_zone/
checkpoint/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
